/* style.css 1.0.0 September 2020 by TheMaoci */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.mao-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.mao-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.mao-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.mao-table,.mao-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.mao-table-all{border:1px solid #ccc}
.mao-bordered tr,.mao-table-all tr{border-bottom:1px solid #ddd}.mao-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.mao-table-all tr:nth-child(odd){background-color:#fff}.mao-table-all tr:nth-child(even){background-color:#f1f1f1}
.mao-hoverable tbody tr:hover,.mao-ul.mao-hoverable li:hover{background-color:#ccc}.mao-centered tr th,.mao-centered tr td{text-align:center}
.mao-table td,.mao-table th,.mao-table-all td,.mao-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.mao-table th:first-child,.mao-table td:first-child,.mao-table-all th:first-child,.mao-table-all td:first-child{padding-left:16px}
.mao-btn,.mao-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.mao-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.mao-btn,.mao-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.mao-disabled,.mao-btn:disabled,.mao-button:disabled{cursor:not-allowed;opacity:0.3}.mao-disabled *,:disabled *{pointer-events:none}
.mao-btn.mao-disabled:hover,.mao-btn:disabled:hover{box-shadow:none}
.mao-badge,.mao-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.mao-badge{border-radius:50%}
.mao-ul{list-style-type:none;padding:0;margin:0}.mao-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.mao-ul li:last-child{border-bottom:none}
.mao-tooltip,.mao-display-container{position:relative}.mao-tooltip .mao-text{display:none}.mao-tooltip:hover .mao-text{display:inline-block}
.mao-ripple:active{opacity:0.5}.mao-ripple{transition:opacity 0s}
.mao-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.mao-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.mao-dropdown-click,.mao-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.mao-dropdown-hover:hover .mao-dropdown-content{display:block}
.mao-dropdown-hover:first-child,.mao-dropdown-click:hover{background-color:#ccc;color:#000}
.mao-dropdown-hover:hover > .mao-button:first-child,.mao-dropdown-click:hover > .mao-button:first-child{background-color:#ccc;color:#000}
.mao-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.mao-check,.mao-radio{width:24px;height:24px;position:relative;top:6px}
.mao-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.mao-bar-block .mao-dropdown-hover,.mao-bar-block .mao-dropdown-click{width:100%}
.mao-bar-block .mao-dropdown-hover .mao-dropdown-content,.mao-bar-block .mao-dropdown-click .mao-dropdown-content{min-width:100%}
.mao-bar-block .mao-dropdown-hover .mao-button,.mao-bar-block .mao-dropdown-click .mao-button{width:100%;text-align:left;padding:8px 16px}
.mao-main,#main{transition:margin-left .4s}
.mao-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.mao-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.mao-bar{width:100%;overflow:hidden}.mao-center .mao-bar{display:inline-block;width:auto}
.mao-bar .mao-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.mao-bar-item i{font-size: 30px!important;}
.mao-bar .mao-dropdown-hover,.mao-bar .mao-dropdown-click{position:static;float:left}
.mao-bar .mao-button{white-space:normal}
.mao-bar-block .mao-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.mao-bar-block.mao-center .mao-bar-item{text-align:center}.mao-block{display:block;width:100%}
.mao-responsive{display:block;overflow-x:auto}
.mao-container:after,.mao-container:before,.mao-panel:after,.mao-panel:before,.mao-row:after,.mao-row:before,.mao-row-padding:after,.mao-row-padding:before,
.mao-cell-row:before,.mao-cell-row:after,.mao-clear:after,.mao-clear:before,.mao-bar:before,.mao-bar:after{content:"";display:table;clear:both}
.mao-col,.mao-half,.mao-third,.mao-twothird,.mao-threequarter,.mao-quarter{float:left;width:100%}
.mao-col.s1{width:8.33333%}.mao-col.s2{width:16.66666%}.mao-col.s3{width:24.99999%}.mao-col.s4{width:33.33333%}
.mao-col.s5{width:41.66666%}.mao-col.s6{width:49.99999%}.mao-col.s7{width:58.33333%}.mao-col.s8{width:66.66666%}
.mao-col.s9{width:74.99999%}.mao-col.s10{width:83.33333%}.mao-col.s11{width:91.66666%}.mao-col.s12{width:99.99999%}
@media (min-width:601px){.mao-col.m1{width:8.33333%}.mao-col.m2{width:16.66666%}.mao-col.m3,.mao-quarter{width:24.99999%}.mao-col.m4,.mao-third{width:33.33333%}
.mao-col.m5{width:41.66666%}.mao-col.m6,.mao-half{width:49.99999%}.mao-col.m7{width:58.33333%}.mao-col.m8,.mao-twothird{width:66.66666%}
.mao-col.m9,.mao-threequarter{width:74.99999%}.mao-col.m10{width:83.33333%}.mao-col.m11{width:91.66666%}.mao-col.m12{width:99.99999%}}
@media (min-width:993px){.mao-col.l1{width:8.33333%}.mao-col.l2{width:16.66666%}.mao-col.l3{width:24.99999%}.mao-col.l4{width:33.33333%}
.mao-col.l5{width:41.66666%}.mao-col.l6{width:49.99999%}.mao-col.l7{width:58.33333%}.mao-col.l8{width:66.66666%}
.mao-col.l9{width:74.99999%}.mao-col.l10{width:83.33333%}.mao-col.l11{width:91.66666%}.mao-col.l12{width:99.99999%}}
.mao-rest{overflow:hidden}.mao-stretch{margin-left:-16px;margin-right:-16px}
.mao-content,.mao-auto{margin-left:auto;margin-right:auto}.mao-content{max-width:980px}.mao-auto{max-width:1140px}
.mao-cell-row{display:table;width:100%}.mao-cell{display:table-cell}
.mao-cell-top{vertical-align:top}.mao-cell-middle{vertical-align:middle}.mao-cell-bottom{vertical-align:bottom}
.mao-hide{display:none!important}.mao-show-block,.mao-show{display:block!important}.mao-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.mao-auto{max-width:95%}}
@media (max-width:600px){.mao-modal-content{margin:0 10px;width:auto!important}.mao-modal{padding-top:30px}
.mao-dropdown-hover.mao-mobile .mao-dropdown-content,.mao-dropdown-click.mao-mobile .mao-dropdown-content{position:relative}	
.mao-hide-small{display:none!important}.mao-mobile{display:block;width:100%!important}.mao-bar-item.mao-mobile,.mao-dropdown-hover.mao-mobile,.mao-dropdown-click.mao-mobile{text-align:center}
.mao-dropdown-hover.mao-mobile,.mao-dropdown-hover.mao-mobile .mao-btn,.mao-dropdown-hover.mao-mobile .mao-button,.mao-dropdown-click.mao-mobile,.mao-dropdown-click.mao-mobile .mao-btn,.mao-dropdown-click.mao-mobile .mao-button{width:100%}}
@media (max-width:768px){.mao-modal-content{width:500px}.mao-modal{padding-top:50px}}
@media (min-width:993px){.mao-modal-content{width:900px}.mao-hide-large{display:none!important}.mao-sidebar.mao-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.mao-hide-medium{display:none!important}}
@media (max-width:992px){.mao-sidebar.mao-collapse{display:none}.mao-main{margin-left:0!important;margin-right:0!important}.mao-auto{max-width:100%}}
.mao-top,.mao-bottom{position:fixed;width:100%;z-index:1}.mao-top{top:0}.mao-bottom{bottom:0}
.mao-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.mao-display-topleft{position:absolute;left:0;top:0}.mao-display-topright{position:absolute;right:0;top:0}
.mao-display-bottomleft{position:absolute;left:0;bottom:0}.mao-display-bottomright{position:absolute;right:0;bottom:0}
.mao-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.mao-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.mao-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.mao-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.mao-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.mao-display-container:hover .mao-display-hover{display:block}.mao-display-container:hover span.mao-display-hover{display:inline-block}.mao-display-hover{display:none}
.mao-display-position{position:absolute}
.mao-circle{border-radius:50%}
.mao-round-small{border-radius:2px}.mao-round,.mao-round-medium{border-radius:4px}.mao-round-large{border-radius:8px}.mao-round-xlarge{border-radius:16px}.mao-round-xxlarge{border-radius:32px}
.mao-row-padding,.mao-row-padding>.mao-half,.mao-row-padding>.mao-third,.mao-row-padding>.mao-twothird,.mao-row-padding>.mao-threequarter,.mao-row-padding>.mao-quarter,.mao-row-padding>.mao-col{padding:0 8px}
.mao-container,.mao-panel{padding:0.01em 16px}.mao-panel{margin-top:16px;margin-bottom:16px}
.mao-code,.mao-codespan{font-family:Consolas,"courier new";font-size:16px}
.mao-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.mao-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.mao-card,.mao-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.mao-card-4,.mao-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.mao-spin{animation:mao-spin 2s infinite linear}@keyframes mao-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.mao-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.mao-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.mao-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.mao-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.mao-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.mao-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.mao-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.mao-animate-input{transition:width 0.4s ease-in-out}.mao-animate-input:focus{width:100%!important}
.mao-opacity,.mao-hover-opacity:hover{opacity:0.60}.mao-opacity-off,.mao-hover-opacity-off:hover{opacity:1}
.mao-opacity-max{opacity:0.25}.mao-opacity-min{opacity:0.75}
.mao-greyscale-max,.mao-grayscale-max,.mao-hover-greyscale:hover,.mao-hover-grayscale:hover{filter:grayscale(100%)}
.mao-greyscale,.mao-grayscale{filter:grayscale(75%)}.mao-greyscale-min,.mao-grayscale-min{filter:grayscale(50%)}
.mao-sepia{filter:sepia(75%)}.mao-sepia-max,.mao-hover-sepia:hover{filter:sepia(100%)}.mao-sepia-min{filter:sepia(50%)}
.mao-tiny{font-size:10px!important}.mao-small{font-size:12px!important}.mao-medium{font-size:15px!important}.mao-large{font-size:18px!important}
.mao-xlarge{font-size:24px!important}.mao-xxlarge{font-size:36px!important}.mao-xxxlarge{font-size:48px!important}.mao-jumbo{font-size:2.5rem!important}
.mao-left-align{text-align:left!important}.mao-right-align{text-align:right!important}.mao-justify{text-align:justify!important}.mao-center{text-align:center!important}
.mao-border-0{border:0!important}.mao-border{border:1px solid #ccc!important}
.mao-border-top{border-top:1px solid #ccc!important}.mao-border-bottom{border-bottom:1px solid #ccc!important}
.mao-border-left{border-left:1px solid #ccc!important}.mao-border-right{border-right:1px solid #ccc!important}
.mao-topbar{border-top:6px solid #ccc!important}.mao-bottombar{border-bottom:6px solid #ccc!important}
.mao-leftbar{border-left:6px solid #ccc!important}.mao-rightbar{border-right:6px solid #ccc!important}
.mao-section,.mao-code{margin-top:16px!important;margin-bottom:16px!important}
.mao-margin{margin:16px!important}.mao-margin-top{margin-top:16px!important}.mao-margin-bottom{margin-bottom:16px!important}
.mao-margin-left{margin-left:16px!important}.mao-margin-right{margin-right:16px!important}
.mao-padding-small{padding:4px 8px!important}.mao-padding{padding:8px 16px!important}.mao-padding-large{padding:12px 24px!important}
.mao-padding-16{padding-top:16px!important;padding-bottom:16px!important}.mao-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.mao-padding-32{padding-top:32px!important;padding-bottom:32px!important}.mao-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.mao-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.mao-left{float:left!important}.mao-right{float:right!important}
.mao-button:hover{color:#000!important;background-color:#ccc!important}
.mao-transparent,.mao-hover-none:hover{background-color:transparent!important}
.mao-hover-none:hover{box-shadow:none!important}
/* Colors */
.mao-amber,.mao-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.mao-aqua,.mao-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.mao-blue,.mao-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.mao-light-blue,.mao-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.mao-brown,.mao-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.mao-cyan,.mao-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.mao-blue-grey,.mao-hover-blue-grey:hover,.mao-blue-gray,.mao-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.mao-green,.mao-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.mao-light-green,.mao-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.mao-indigo,.mao-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.mao-khaki,.mao-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.mao-lime,.mao-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.mao-orange,.mao-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.mao-deep-orange,.mao-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.mao-pink,.mao-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.mao-purple,.mao-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.mao-deep-purple,.mao-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.mao-red,.mao-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.mao-sand,.mao-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.mao-teal,.mao-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.mao-yellow,.mao-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.mao-white,.mao-hover-white:hover{color:#000!important;background-color:#fff!important}
.mao-black,.mao-hover-black:hover{color:#fff!important;background-color:#000!important}
.mao-grey,.mao-hover-grey:hover,.mao-gray,.mao-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.mao-light-grey,.mao-hover-light-grey:hover,.mao-light-gray,.mao-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.mao-dark-grey,.mao-hover-dark-grey:hover,.mao-dark-gray,.mao-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.mao-pale-red,.mao-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.mao-pale-green,.mao-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.mao-pale-yellow,.mao-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.mao-pale-blue,.mao-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.mao-text-amber,.mao-hover-text-amber:hover{color:#ffc107!important}
.mao-text-aqua,.mao-hover-text-aqua:hover{color:#00ffff!important}
.mao-text-blue,.mao-hover-text-blue:hover{color:#2196F3!important}
.mao-text-light-blue,.mao-hover-text-light-blue:hover{color:#87CEEB!important}
.mao-text-brown,.mao-hover-text-brown:hover{color:#795548!important}
.mao-text-cyan,.mao-hover-text-cyan:hover{color:#00bcd4!important}
.mao-text-blue-grey,.mao-hover-text-blue-grey:hover,.mao-text-blue-gray,.mao-hover-text-blue-gray:hover{color:#607d8b!important}
.mao-text-green,.mao-hover-text-green:hover{color:#4CAF50!important}
.mao-text-light-green,.mao-hover-text-light-green:hover{color:#8bc34a!important}
.mao-text-indigo,.mao-hover-text-indigo:hover{color:#3f51b5!important}
.mao-text-khaki,.mao-hover-text-khaki:hover{color:#b4aa50!important}
.mao-text-lime,.mao-hover-text-lime:hover{color:#cddc39!important}
.mao-text-orange,.mao-hover-text-orange:hover{color:#ff9800!important}
.mao-text-deep-orange,.mao-hover-text-deep-orange:hover{color:#ff5722!important}
.mao-text-pink,.mao-hover-text-pink:hover{color:#e91e63!important}
.mao-text-purple,.mao-hover-text-purple:hover{color:#9c27b0!important}
.mao-text-deep-purple,.mao-hover-text-deep-purple:hover{color:#673ab7!important}
.mao-text-red,.mao-hover-text-red:hover{color:#f44336!important}
.mao-text-sand,.mao-hover-text-sand:hover{color:#fdf5e6!important}
.mao-text-teal,.mao-hover-text-teal:hover{color:#009688!important}
.mao-text-yellow,.mao-hover-text-yellow:hover{color:#d2be0e!important}
.mao-text-white,.mao-hover-text-white:hover{color:#fff!important}
.mao-text-black,.mao-hover-text-black:hover{color:#000!important}
.mao-text-grey,.mao-hover-text-grey:hover,.mao-text-gray,.mao-hover-text-gray:hover{color:#757575!important}
.mao-text-light-grey,.mao-hover-text-light-grey:hover,.mao-text-light-gray,.mao-hover-text-light-gray:hover{color:#f1f1f1!important}
.mao-text-dark-grey,.mao-hover-text-dark-grey:hover,.mao-text-dark-gray,.mao-hover-text-dark-gray:hover{color:#3a3a3a!important}
.mao-border-amber,.mao-hover-border-amber:hover{border-color:#ffc107!important}
.mao-border-aqua,.mao-hover-border-aqua:hover{border-color:#00ffff!important}
.mao-border-blue,.mao-hover-border-blue:hover{border-color:#2196F3!important}
.mao-border-light-blue,.mao-hover-border-light-blue:hover{border-color:#87CEEB!important}
.mao-border-brown,.mao-hover-border-brown:hover{border-color:#795548!important}
.mao-border-cyan,.mao-hover-border-cyan:hover{border-color:#00bcd4!important}
.mao-border-blue-grey,.mao-hover-border-blue-grey:hover,.mao-border-blue-gray,.mao-hover-border-blue-gray:hover{border-color:#607d8b!important}
.mao-border-green,.mao-hover-border-green:hover{border-color:#4CAF50!important}
.mao-border-light-green,.mao-hover-border-light-green:hover{border-color:#8bc34a!important}
.mao-border-indigo,.mao-hover-border-indigo:hover{border-color:#3f51b5!important}
.mao-border-khaki,.mao-hover-border-khaki:hover{border-color:#f0e68c!important}
.mao-border-lime,.mao-hover-border-lime:hover{border-color:#cddc39!important}
.mao-border-orange,.mao-hover-border-orange:hover{border-color:#ff9800!important}
.mao-border-deep-orange,.mao-hover-border-deep-orange:hover{border-color:#ff5722!important}
.mao-border-pink,.mao-hover-border-pink:hover{border-color:#e91e63!important}
.mao-border-purple,.mao-hover-border-purple:hover{border-color:#9c27b0!important}
.mao-border-deep-purple,.mao-hover-border-deep-purple:hover{border-color:#673ab7!important}
.mao-border-red,.mao-hover-border-red:hover{border-color:#f44336!important}
.mao-border-sand,.mao-hover-border-sand:hover{border-color:#fdf5e6!important}
.mao-border-teal,.mao-hover-border-teal:hover{border-color:#009688!important}
.mao-border-yellow,.mao-hover-border-yellow:hover{border-color:#ffeb3b!important}
.mao-border-white,.mao-hover-border-white:hover{border-color:#fff!important}
.mao-border-black,.mao-hover-border-black:hover{border-color:#000!important}
.mao-border-grey,.mao-hover-border-grey:hover,.mao-border-gray,.mao-hover-border-gray:hover{border-color:#9e9e9e!important}
.mao-border-light-grey,.mao-hover-border-light-grey:hover,.mao-border-light-gray,.mao-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.mao-border-dark-grey,.mao-hover-border-dark-grey:hover,.mao-border-dark-gray,.mao-hover-border-dark-gray:hover{border-color:#616161!important}
.mao-border-pale-red,.mao-hover-border-pale-red:hover{border-color:#ffe7e7!important}.mao-border-pale-green,.mao-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.mao-border-pale-yellow,.mao-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.mao-border-pale-blue,.mao-hover-border-pale-blue:hover{border-color:#e7ffff!important}
a{text-decoration:none;}
a:hover{color:red;}
#photos .mao-half img{object-fit: cover;height:200px;cursor:pointer;}